html {
    font-size: 14px;
}
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #f5f5f5;
}

#root {
    height: 100%;
}